* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #222831;
    font-family: helvetica;
    text-align: center;
    margin: 0;
    color: white;
}

h3{
    font-weight: normal;
    text-decoration: underline;
    font-size: 22px;
    }


h1{
    font-size: 50px;
    font-weight: normal;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color:#111720;
    color: white
}

.results{
    font-weight: bold;
    font-size: 26px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.selections{
    display: inline-flex;
    justify-content: center;
    gap: 100px;
    margin: 60px;
}

.selection{
    font-weight: bold;
    font-size: 120px;
    background-color: white;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    color: black;
}

.scores{
    display: flex;
    width: 400px;
    margin:auto;
    justify-content: space-between;
    padding-bottom: 20px;
}
.score{
    font-size: 30px;

    gap: 10px;
}

.wpnbtn{
    margin: 5px;
    background-color: white;
    border-radius: 7px;
}

.wpnbtn:hover{
    border: 2.5px solid rgb(72, 197, 135);    
    border-radius: 7px;
    transform: scale(1.03);
}

.buttons{
    margin: 20px 0px 20px 0px;
}

.winner{
    margin: 40px;
}


.resultImg{
    margin-bottom:30px;
}

#reset:hover {
    transform: scale(1.05);
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.footer{
    background-color: #111720;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    color: white
}